*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-attachment: #f0f0f0;
}
.clock{
    position: relative;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    border: 10px solid black;
}
.hour-hand, .minute-hand, .second-hand{
    position: absolute;
    width: 40%;
    transform-origin: 100%;
    background-color: #333;
    transition: transform 0.5s cubic-bezier(0.4, 2.3, 0.3, 1);
    top: 50%;
    left: 10%;
    border-radius: 3px;
}
.hour-hand{
    height: 6px;
}
.minute-hand{
    height: 4px;
}
.second-hand{
    height: 2px;
}
.center {
    position: absolute;
    width: 3vh;
    height: 3vh;
    background-color: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.numbers{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.number{
    position: absolute;
    transform-origin: center;
    transform: translate(-50%, -50%);
}
.number:nth-child(1) { transform: translate(50%, 5%) rotate(-30deg); }
.number:nth-child(2) { transform: translate(110%, 0%) rotate(0deg); }
.number:nth-child(3) { transform: translate(110%, 0%) rotate(30deg); }
.number:nth-child(4) { transform: translate(110%, 0%) rotate(60deg); }
.number:nth-child(5) { transform: translate(110%, 0%) rotate(90deg); }
.number:nth-child(6) { transform: translate(110%, 0%) rotate(120deg); }
.number:nth-child(7) { transform: translate(110%, 0%) rotate(150deg); }
.number:nth-child(8) { transform: translate(110%, 0%) rotate(180deg); }
.number:nth-child(9) { transform: translate(110%, 0%) rotate(210deg); }
.number:nth-child(10) { transform: translate(110%, 0%) rotate(240deg); }
.number:nth-child(11) { transform: translate(110%, 0%) rotate(270deg); }
.number:nth-child(12) { transform: translate(110%, 0%) rotate(300deg); }